:root {
    --gray: #b2b2b2;
    --white: #fff;
    --red: #f23f32;
    --yellow: #ffc336;
    --brown: #5b390c;
    --orange: #ff852a;
    --main-bg: #161617;
    --section-margin: 95px;
    --section-title-size: 36px;
    --stroke: #3f3f3f;
}